{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">

    <title>Protected</title>
</head>
<body>
    <div class="container">
        <h2>projected</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem atque, veritatis totam magnam dolor mollitia est recusandae quisquam? Ducimus perspiciatis in voluptas nobis corporis quia officia repellat et possimus nemo?</p>
        <a href="{% url 'home' %}">Home</a>
    </div>    
</body>
</html>